{% block rutinas %}
	<div class="tab-pane fade" id="rutinas">
		<div class="panel panel-default">
			<div class="panel-heading">rutinas</div>
			<div class="panel-body">
				<div class="well col-md-6 rutWell">
					<div class="row text-center">
						<button type="button" class="btn btn-default" id="nuevaRut">nueva</button>
						<button type="button" class="btn btn-default" id="editarRut">editar</button>
						<hr>
						<div id="findRut" class="col-md-6 col-md-offset-3" hidden>
							{# <input type="text" id="cajaRutPaci" placeholder="nombre paciente">
							<button  type="button" id="btnFindRutPaci" class="btn btn-info" disabled="true">
								<span class="glyphicon glyphicon-search"></span>
							</button> #}
							{# <input type="text" id="cajaRutEjer" placeholder="nombre ejercicio">
							<button  type="button" id="btnFindRutEjer" class="btn btn-info" disabled="true">
								<span class="glyphicon glyphicon-search"></span>
							</button> #}
							<div class="input-group">
								<input type="text" id="cajaRutPaci" class="form-control" placeholder="nombre paciente" aria-describedby="btnFindRutPaci">
								<span class="input-group-btn">
							    	<button class="btn btn-info" type="button" id="btnFindRutPaci" disabled>
							    		<span class="glyphicon glyphicon-search"></span>
							    	</button>
								</span>
							</div>
							<div class="input-group">
								<input type="text" id="cajaRutEjer" class="form-control" placeholder="nombre ejercicio" aria-describedby="btnFindRutEjer">
								<span class="input-group-btn">
							    	<button class="btn btn-info" type="button" id="btnFindRutEjer" disabled>
							    		<span class="glyphicon glyphicon-search"></span>
							    	</button>
								</span>
							</div>
						</div>
					</div>
					<hr>
					<form class="toHide form" id="formRut" novalidate>
						<div class="row" id="inputRut">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button" disabled>
										<span class="glyphicon glyphicon-question-sign"></span>
									</button>
								</span>
								<textarea class="form-control" placeholder="observaciones" aria-label="observaciones" required></textarea> 
							</div>
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button">
										<span class="glyphicon glyphicon-question-sign"></span>
									</button>
								</span>
								<input type="number" class="form-control" placeholder="orden" aria-label="orden" required>
							</div>
							{# <div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button">
										<span class="glyphicon glyphicon-question-sign"></span>
									</button>
								</span>
								<input type="text" class="form-control" placeholder="usuario" aria-label="usuario" required>
							</div> #}
							{# <div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button">
										<span class="glyphicon glyphicon-question-sign"></span>
									</button>
								</span>
								<input type="text" class="form-control" placeholder="ejercicio" aria-label="ejercicio" required>
							</div> #}
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button">
										<span class="glyphicon glyphicon-question-sign"></span>
									</button>
								</span>
								<input type="number" class="form-control" placeholder="repeticiones" aria-label="repeticiones" required>
							</div>
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button">
										<span class="glyphicon glyphicon-question-sign"></span>
									</button>
								</span>
								<input type="number" class="form-control" placeholder="tiempo en segundos" aria-label="tiempo" required>
							</div>
						</div>
						<hr>
						<div class="text-center">
							<button type="button" class="btn btn-default" id="guardarRut">guardar</button>
						</div>
					</form>
				</div>
				<div class="well col-md-6 rutWell" style="overflow:auto;">
					<table class="table table-striped" id="tablaRut">
						<caption id="capRut"></caption>
						<thead>
							<tr>
								<th>orden</th>
								<th>observaciones</th>
								<th>ejercicio</th>
								<th>rep</th>
								<th>seg</th>
							</tr>
						</thead>
						<tbody>
						{# {% for rutina in rutinas %}
						<tr>
							<td>{{ rutina.orden }}</td>
							<td>{{ rutina.obser }}</td>
							<td>{{ rutina.ejercicio }}</td>
							<td>{{ rutina.repe }}</td>
							<td>{{ rutina.tiempo }}</td>
						</tr>
						{% endfor %} #}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}