{% block usuarios %}
	<div class="tab-pane fade in active" id="usuarios">
		<div class="panel panel-default">
			<div class="panel-heading">usuarios</div>
			<div class="panel-body">
				<div class="well col-md-6 usuWell">
					<div class="row text-center">
						<button type="button" class="btn btn-default" id="nuevo">nuevo</button>
						<button type="button" class="btn btn-default" id="editar">editar</button>
						<span id="findUsu" hidden>
							<input type="text" id="cajaUsu" placeholder="nombre usuario" >
							<button  type="button" id="btnFind" class="btn btn-info" disabled>
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
					<hr>
					<form class="toHide form" id="formUsu" novalidate>
						<div class="row" id="usuInput">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-question-sign"></span></button>
								</span>
								<input type="text" class="form-control" placeholder="nombre" aria-label="nombre" required>
							</div>
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-question-sign"></span></button>
								</span>
								<input type="text" class="form-control" placeholder="clave" aria-label="clave" required>
							</div>
							<br>
							<div class="btn-group col-md-6 col-md-offset-3" data-toggle="buttons" id="rol">
							    <label class="btn btn-default active" id="usuario">
									<input name="options" type="radio" value="usuario"> usuario 
							    </label>
							    <label class="btn btn-default" id="admin">
									<input name="options" type="radio" value="admin"> administrador 
							    </label>
							</div>
						</div>
						<hr>
						<div class="text-center">
							<button type="button" class="btn btn-default" id="guardar">guardar</button>
						</div>
					</form>
				</div>
				<div class="well col-md-6 usuWell" style="overflow: auto;">
					<table class="table table-striped" id="tablaUsuarios">
						<thead>
							<tr>
								<th>nombre</th>
								<th>clave</th>
								<th>rol</th>
							</tr>
						</thead>
						<tbody>
						{% for usuario in usuarios %}
						<tr>
							<td>{{ usuario.nombre }}</td>
							<td>{{ usuario.clave }}</td>
							<td>{{ usuario.rol }}</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}